
#jeu{
	display: inline-flex;
}

#x1y1, #x1y2, #x1y3, #x2y1, #x2y2, #x2y3, #x3y1, #x3y2, #x3y3{
	height: 150px;
	width: 150px;
	border:solid;
	margin:2px;
}
.player1{
	background-color: red;
}

.player2{
	background-color: green;
}